
body {
    background-image: url(https://media.giphy.com/media/9bTjZrytydVRK/giphy.gif);
    background-repeat: repeat;
    font-family: "Lucida Console", "Courier New", monospace;
}

.res a {
    text-decoration: none;
    color: white;
}

.res a:hover {
    color: black;
}

#profileHide, #objectiveHide, #educationHide, #skillHide, #competitionHide, #achievementHide, #projectHide, #organizationHide {
    display: none;
}

span:not(.normal):hover {
    color: black;
}
